* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: auto;
  width: 700px;
  max-width: 900px;
}
header {
  flex: 0 0 100%;
  margin: 5px;
  padding: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav li {
  border-style: solid;
  border-width: 15px;
  padding: 3px;
  border-width: 1px;
}
nav a {
  color: black;
  text-decoration: none;
}
nav li:hover {
  background-color: rgb(163, 163, 163);
}
article {
  justify-content: center;
  margin: 10px;
  text-align: justify;
  display: flex;
}
article form {
  padding: 5px;
  width: 600px;
}




footer{
    text-align: center;
}
